<!DOCTYPE html>
<html lang="en">
<head>
  <title>NotLoggedIn</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <p>you are not logged in</p>

<a href="http://localhost:3000/">to login</a>
<ul id="attempts"></ul>
</body>

</html>